.chartContainer {
    background-color: #282D30;
    width: 258px;
    height: 263px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    padding-top: 10px;
}
