
.location {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: rotate(-90deg);
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width : 1024px) {
    .location {
        top: 12%;
        transform: rotate(0deg);
        left: 850px;
    }
}