.nutrientContainer {
    width: 258px;
    height: 124px;
    background-color: #FBFBFB;
    padding-left: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
}

.iconContainer {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.calorie {
    background-color: rgba(255, 0, 0, 0.07);
}

.protein {
    background-color: rgba(74, 184, 255, 0.1);
}

.carbohydrate {
    background-color: rgba(249, 206, 35, 0.1);
}

.lipid {
    background-color: rgba(253, 81, 129, 0.1);
}

.nutrientValue {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
}

.nutrientName {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color : #74798C ;
}