.chartContainer {
    /* background-color: #dddddd; */
    width: 853px;
    height: 320px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* border-radius: 30px; */
    /* padding-top: 40px; */
}