.container {
    width: calc(100% - 117px);
    /* padding: 63px 90px 90px 109px; */
    padding: 60px 90px 0px 109px;
    font-family: roboto;
}

.chartsContainerGroup {
    display: flex;
    align-items: center;
    height: 613px;
    margin-top: 40px;
}

.title, .name {
    font-size: 48px;
    font-weight: 500;
    line-height: 24px;
}

.title {
    margin-bottom: 41px;
}

.name {
    color: #FF0101;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    padding-left: 2px;
    line-height: 24px;
}

.allCharts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    row-gap: 40px;
}

.chartsContainer {
    display: flex;
    column-gap: 40px;
}

.nutrients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    height: 623px;
}