* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 91px);
  /* background-color: blue; */
}

/* mediaquery */

@media screen and (max-width: 1024px) {
  .main {
    flex-direction: row;
    height: 100vw;
    width: 1024px;
  }
}